/* color palette from <https://github.com/vuejs/theme> */
:host {
  /* height */
  --full-height: 100dvh;
  --half-height: 50dvh;
  --height-40-dvh: 40dvh;
  --height-70-dvh: 70dvh;

  /** safe area */
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);

  /** width */
  --full-width: 100dvw;
  --half-width: 50dvw;
  --width-40-dvh: 40dvw;
  --width-70-dvh: 70dvw;

  @media (display-mode: standalone) {
    /* height */
    --full-height: 100vh;
    --half-height: 50vh;
    --height-40-dvh: 40vh;
    --height-70-dvh: 70vh;

    /** width */
    --full-width: 100vw;
    --half-width: 50vw;
    --width-40-dvh: 40vw;
    --width-70-dvh: 70vw;
  }

  /* font variables */
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;

  /* color variables */
  --vt-c-white: #fff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222;
  --vt-c-black-mute: #282828;
  --vt-c-indigo: #2c3e50;
  --vt-c-divider-light-1: rgb(60 60 60 / 29%);
  --vt-c-divider-light-2: rgb(60 60 60 / 12%);
  --vt-c-divider-dark-1: rgb(84 84 84 / 65%);
  --vt-c-divider-dark-2: rgb(84 84 84 / 48%);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgb(60 60 60 / 66%);
  --vt-c-text-dark-1: var(--white);
  --vt-c-text-dark-2: rgb(235 235 235 / 64%);

  /* background color variables */
  --bg-blur: 1px;
  --bg-blur-4: 4px;
  --bg-blur-20: 20px;
  --bg-blur-40: 40px;
  --bg-blur-hover: var(--bg-blur-20);
  --bg-black: rgba(0 0 0);
  --bg-black-20: rgba(0 0 0 / 20%);
  --bg-black-30: rgba(0 0 0 / 30%);
  --bg-black-50: rgba(0 0 0 / 50%);
  --bg-black-60: rgba(0 0 0 / 60%);
  --bg-black-70: rgba(0 0 0 / 70%);
  --bg-black-80: rgba(0 0 0 / 80%);
  --bg-black-90: rgba(0 0 0 / 90%);
  --bg-gradient-60-90: linear-gradient(
    to right,
    var(--bg-color-60) 5%,
    var(--bg-color-90)
  );
  --bg-black-soft: rgb(24 24 24);
  --bg-black-soft-70: rgb(24 24 24 / 70%);
  --bg-black-soft-80: rgb(24 24 24 / 80%);
  --bg-black-soft-90: rgb(24 24 24 / 90%);
  --bg-black-softer: rgb(34 34 34);
  --bg-black-softer-50: rgba(34 34 34 / 50%);
  --bg-black-softer-55: rgba(34 34 34 / 55%);
  --bg-black-softer-60: rgba(34 34 34 / 60%);
  --bg-black-softer-80: rgba(34 34 34 / 80%);
  --bg-black-softer-90: rgba(34 34 34 / 90%);
  --bg-black-softest: rgb(40 40 40);
  --bg-red: rgba(255 222 223);
  --bg-red-20: rgba(255 222 223 / 20%);
  --bg-red-30: rgba(255 222 223 / 30%);
  --bg-red-60: rgba(255 222 223 / 60%);
  --bg-red-70: rgba(255 222 223 / 70%);
  --bg-red-80: rgba(255 222 223 / 80%);
  --bg-red-90: rgba(255 222 223 / 90%);
  --bg-color-primary: rgb(24 42 36);
  --bg-color-primary-80: rgba(24 42 36 / 80%);
  --bg-color-success: var(--bg-color-primary);
  --bg-color-success-80: var(--bg-color-primary-80);
  --bg-color-info: rgb(22 35 42);
  --bg-color-info-80: rgb(22 35 42 / 80%);
  --bg-color-warning: rgb(43 37 25);
  --bg-color-warning-80: rgb(43 37 25 / 80%);
  --bg-color-error: rgb(45 27 28);
  --bg-color-error-80: rgb(45 27 28 / 80%);
  --bg-trakt: rgb(237 28 36);
  --bg-trakt-50: rgba(237 28 36 / 50%);
  --bg-trakt-60: rgba(237 28 36 / 60%);
  --bg-trakt-80: rgba(237 28 36 / 80%);
  --bg-trakt-dark: rgb(128 0 10);
  --bg-trakt-dark-50: rgba(128 0 1 / 50%);
  --bg-trakt-dark-60: rgba(128 0 1 / 60%);
  --bg-trakt-dark-80: rgba(128 0 1 / 80%);
  --bg-trakt-dark-90: rgba(128 0 1 / 90%);

  /* ui color variables */
  --white: rgb(255 255 255);
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;
  --white-10: rgb(255 255 255 / 10%);
  --white-15: rgb(255 255 255 / 15%);
  --white-50: rgb(255 255 255 / 50%);
  --white-70: rgb(255 255 255 / 70%);
  --white-80: rgb(255 255 255 / 80%);
  --black: #181818;
  --code-grey: rgb(228 228 228 / 20%);
  --border-grey: rgb(70 70 70);
  --border-white: rgb(255 255 255 / 20%);
  --color-primary: #63e2b7;
  --color-primary-lighter: #7fe7c4;
  --color-primary-disabled: #548272;
  --color-primary-dark: color-mix(in srgb, var(--color-primary) 40%, black 60%);
  --color-primary-focus: rgba(99 226 183 / 10%);
  --color-info: #70c0e8;
  --color-info-dark: color-mix(in srgb, var(--color-info) 40%, black 60%);
  --color-disabled: rgba(255 255 255 / 6%);
  --text-color-disabled: rgba(255 255 255 / 38%);
  --color-warning: #f2c97d;
  --color-warning-lighter: #f5d599;
  --color-error: #e88080;
  --color-error-dark: color-mix(in srgb, var(--color-error) 40%, black 60%);
  --color-error-lighter: #e98b8b;


  /* trakt.tv brand color */
  --trakt-red: #ed1c24;
  --trakt-red-dark: #b7000D;
  --trakt-red-darker: #80000a;
  --trakt-red-light:#ff5c62;
  --trakt-red-lighter: #e98b8b;

  /* Transforms */
  --n-bezier: cubic-bezier(0.4, 0, 0.2, 1);

  /* Bow shadows */
  --image-box-shadow: 0 0 20px 9px rgb(255 255 255 / 10%);
  --image-box-shadow-hover: 0 0 20px 9px rgb(255 255 255 / 18%);
  --card-box-shadow: 0 1px 2px -2px rgb(0 0 0 / 24%), 0 3px 6px 0 rgb(0 0 0 / 18%), 0 5px 12px 4px rgb(0 0 0 / 12%);

  /* semantic color variables for this project */
  --section-gap: 160px;
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  /* ui color variables */
  --bg-color-20: var(--bg-black-20);
  --bg-color-30: var(--bg-black-30);
  --bg-color-50: var(--bg-black-50);
  --bg-color-60: var(--bg-black-60);
  --bg-color-70: var(--bg-black-70);
  --bg-color-80: var(--bg-black-80);
  --bg-color-90: var(--bg-black-90);
  --bg-color: var(--bg-color-30);
  --bg-color-hover: var(--bg-black-60);

  @media (prefers-color-scheme: dark) {
    /* semantic color variables for this project */
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    /* Dark theme override for ui color variables */
    --bg-color-20: var(--bg-black-20);
    --bg-color-30: var(--bg-black-30);
    --bg-color-50: var(--bg-black-50);
    --bg-color-60: var(--bg-black-60);
    --bg-color-70: var(--bg-black-70);
    --bg-color-80: var(--bg-black-80);
    --bg-color-90: var(--bg-black-90);
    --bg-color: var(--bg-color-30);
    --bg-color-hover: var(--bg-black-60);
  }

  /*
  @media (prefers-color-scheme: light) {
    !* semantic color variables for this project *!
    --color-background: var(--white);
    --color-background-soft: var(--white-soft);
    --color-background-mute: var(--white-mute);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    !* ui color variables *!
    --bg-color-20:  var(--bg-red-20);
    --bg-color-30: var(--bg-red-30);
    --bg-color-60: var(--bg-red-60);
    --bg-color-70: var(--bg-red-70);
    --bg-color-80: var(--bg-red-80);
    --bg-color-90: var(--bg-red-90);
    --bg-color: var(--bg-color-80);
    --bg-color-hover: var(--bg-red-90);
  }
  */
}
