/* color palette from <https://github.com/vuejs/theme> */
:host {
  --vt-c-white: #fff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222;
  --vt-c-black-mute: #282828;
  --vt-c-indigo: #2c3e50;
  --vt-c-divider-light-1: rgb(60 60 60 / 29%);
  --vt-c-divider-light-2: rgb(60 60 60 / 12%);
  --vt-c-divider-dark-1: rgb(84 84 84 / 65%);
  --vt-c-divider-dark-2: rgb(84 84 84 / 48%);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgb(60 60 60 / 66%);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgb(235 235 235 / 64%);
  
  /* ui color variables */
  --bg-blur: 1px;
  --bg-blur-20: 20px;
  --bg-blur-40: 40px;
  --bg-black: rgba(0 0 0);
  --bg-black-20: rgba(0 0 0 / 20%);
  --bg-black-30: rgba(0 0 0 / 30%);
  --bg-black-60: rgba(0 0 0 / 60%);
  --bg-black-70: rgba(0 0 0 / 70%);
  --bg-black-80: rgba(0 0 0 / 80%);
  --bg-black-90: rgba(0 0 0 / 90%);
  --bg-red: rgba(255 222 223);
  --bg-red-20: rgba(255 222 223 / 20%);
  --bg-red-30: rgba(255 222 223 / 30%);
  --bg-red-60: rgba(255 222 223 / 60%);
  --bg-red-70: rgba(255 222 223 / 70%);
  --bg-red-80: rgba(255 222 223 / 80%);
  --bg-red-90: rgba(255 222 223 / 90%);
  --white: rgb(255 255 255);
  --white-50: rgb(255 255 255 / 50%);
  --white-70: rgb(255 255 255 / 70%);
  --border-grey: rgb(70 70 70);
  --border-white: rgb(255 255 255 / 20%);
  --primary-color: #63e2b7;
  --primary-color-lighter:  #7fe7c4;
  --primary-color-disabled: #548272;
  --primary-color-dark: color-mix(in srgb, var(--primary-color) 50%, black 20%);
  --primary-color-focus: rgba(99 226 183 / 10%);
  --color-disabled: rgba(255 255 255 / 6%);
  --text-color-disabled: rgba(255 255 255 / 38%);
  --color-warning: #f2c97d;
  --color-warning-lighter: #f5d599;
  --color-error: #e88080;
  --color-error-ligther: #e98b8b;

  /* trakt.tv brand color */
  --trakt-red: #ed1c24;
  --trakt-red-dark: #ba080f;

  /* Transforms */
  --n-bezier: cubic-bezier(.4, 0, .2, 1);

  /* Bow shadows */
  --image-box-shadow: 0 0 20px 9px rgb(255 255 255 / 10%);

  /* semantic color variables for this project */
  --section-gap: 160px;
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  /* ui color variables */
  --bg-color-20: var(--bg-black-20);
  --bg-color-30: var(--bg-black-30);
  --bg-color-60: var(--bg-black-60);
  --bg-color-70: var(--bg-black-70);
  --bg-color-80: var(--bg-black-80);
  --bg-color-90: var(--bg-black-90);
  --bg-color: var(--bg-color-30);
  --bg-color-hover: var(--bg-black-60);

  @media (prefers-color-scheme: dark) {
    /* semantic color variables for this project */
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    /* Dark theme override for ui color variables */
    --bg-color-20: var(--bg-black-20);
    --bg-color-30: var(--bg-black-30);
    --bg-color-60: var(--bg-black-60);
    --bg-color-70: var(--bg-black-70);
    --bg-color-80: var(--bg-black-80);
    --bg-color-90: var(--bg-black-90);
    --bg-color: var(--bg-color-30);
    --bg-color-hover: var(--bg-black-60);
  }

  /*
  @media (prefers-color-scheme: light) {
    !* semantic color variables for this project *!
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    !* ui color variables *!
    --bg-color-20:  var(--bg-red-20);
    --bg-color-30: var(--bg-red-30);
    --bg-color-60: var(--bg-red-60);
    --bg-color-70: var(--bg-red-70);
    --bg-color-80: var(--bg-red-80);
    --bg-color-90: var(--bg-red-90);
    --bg-color: var(--bg-color-80);
    --bg-color-hover: var(--bg-red-90);
  }
  */
}

