// Pwa safe areas
$safe-area-inset-top: var(--safe-area-inset-top);
$safe-area-inset-right: var(--safe-area-inset-right);
$safe-area-inset-bottom: var(--safe-area-inset-bottom);
$safe-area-inset-left: var(--safe-area-inset-left);

// Element heights
$header-navbar-height: 2.75rem;
$safe-navbar-height: calc(#{$header-navbar-height} + #{$safe-area-inset-top});
$header-drawer-height: 3.5rem;
$header-open-drawer-height: calc(#{$safe-navbar-height} + #{$header-drawer-height});
$safe-content-height: calc(var(--full-height) - #{$safe-navbar-height});
$safe-full-height: calc(var(--full-height) - #{$safe-area-inset-top});

// floating navbar
$floating-navbar-offset: calc(1rem + #{$safe-area-inset-top / 3});
$floating-navbar-height: calc(#{$floating-navbar-offset} + #{$header-navbar-height});
$floating-open-drawer-height: calc(#{$floating-navbar-height} + #{$header-drawer-height});
$floating-content-height: $safe-full-height;

// Bottom Navbar
$bottom-safe-navbar-height: calc(#{$header-navbar-height} + #{$safe-area-inset-bottom});
$bottom-open-drawer-height: calc(#{$bottom-safe-navbar-height} + #{$header-drawer-height});
$bottom-content-height: $safe-full-height;

// Watching
$watching-height: 1.75rem;
$watching-open-height: 3rem;
$safe-watching-height: calc(#{$watching-height} + #{$safe-area-inset-bottom / 1.5});
$safe-watching-open-height: calc(#{$watching-open-height} + #{$safe-area-inset-bottom / 1.5});
$top-safe-watching-height: calc(#{$watching-height} + #{$safe-area-inset-top / 1.5});
$top-safe-watching-open-height: calc(#{$watching-open-height} + #{$safe-area-inset-top / 1.5});

// Navbar transition
$navbar-transition: 0.5s var(--n-bezier);
$navbar-transition-visible: 0.25s var(--n-bezier);
$navbar-transition-delay: 0.5s;
$navbar-transition-delay-visible: 0s;

@mixin navbar-transition(
  $transition: height $navbar-transition,
  $transition-visible: height $navbar-transition-visible,
  $navbar-transition-delay: $navbar-transition-delay,
  $navbar-transition-delay-visible: $navbar-transition-delay-visible
) {
  transition: $transition;
  transition-delay: $navbar-transition-delay;

  &.drawer-visible {
    height: $header-drawer-height;
    transition: $transition-visible;
    transition-delay: $navbar-transition-delay-visible;
  }

  &:not(.has-drawer) {
    transition-delay: $navbar-transition-delay-visible;
  }
}