# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build - Build sources

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:

env:
  node_version: 20.x
  pnpm_version: 8.x

jobs:
  build-extension:
    name: Build Extension
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch ${{ github.ref }}
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Build
        uses: ./.github/actions/build
        with:
          node_version: ${{ env.node_version }}
          pnpm_version: ${{ env.pnpm_version }}

  build-web:
    name: Build Web
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch ${{ github.ref }}
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Build
        uses: ./.github/actions/build
        with:
          script: 'build:web'
          node_version: ${{ env.node_version }}
          pnpm_version: ${{ env.pnpm_version }}

  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch ${{ github.ref }}
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install
        uses: ./.github/actions/install
        with:
          node_version: ${{ env.node_version }}
          pnpm_version: ${{ env.pnpm_version }}

      - name: Test
        run: |
          # =================  Test  =================

          pnpm run test:unit

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch ${{ github.ref }}
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Install
        uses: ./.github/actions/install
        with:
          node_version: ${{ env.node_version }}
          pnpm_version: ${{ env.pnpm_version }}

      - name: Install dependencies
        shell: bash
        run: |
          # ================= Install =================
          
          pnpm install

      - name: Eslint
        run: |
          # =================  Eslint  =================

          pnpm run lint

      - name: Stylelint
        run: |
          # =================  Stylelint  =================

          pnpm run style
